html {
  font-size: 62.5%;
  padding: 1rem;
}
<<<<<<< 8cb7b7a2904f8c73c1229fa078e40c8130da0bb4
=======

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dummy {
  height: 50vh;
  width: 90vw;
  border: solid 1px black;
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.submit_button {
  width: 15rem;
  height: 5rem;
  background-color: mediumspringgreen;
  border-radius: 10px;
  align-self: flex-end;
  margin-right: 4.5em;
}

.time_selector {
  width: 15rem;
}>>>>>>> basic layout with dummy containers
